* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h2{
    font-family: sans-serif;
    font-size: 2.5rem;
    padding-left: 125px;
    padding-top: 20px;
}
b{
  color: gray;
  font-size: 30px;
}
nav{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    font-weight: 600;
    font-family: monospace;
    font-size: 17px;
    z-index: 2;
    margin-bottom: 5px;
    width: 90%;
}
.links{
    align-items: start;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
}
.links ul{
    list-style: none;
    display: flex;
    gap:25px;
}
.links a{
    text-decoration: none;
    color: black;
}
button{
    border: none; 
    background-color: white;
    border-radius: 30px;
}
p a{
    text-decoration: none;
    color: black;
    line-height: 60px;
    font-size: 15px;
    padding-right: 60px;
}
.primary{
    background: rgb(0, 0, 129);
    width: 150px;
    margin-right: 50px;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 1px 5px;
    margin-top: 20px;
}

.primary a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* main styles starts here*/


.container {
 display: flex;
 flex-direction: column;
 z-index: 1;
 width: 100%;
}

.wrapper {
  position: absolute;
  width: 89%;
  height: 95vh;
  margin: 20px 80px 50px 50px;
  border-radius: 5px;
  align-items: center;
  background-image: linear-gradient(#f9e8e6, #e7f4e5);
}

.content {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  height: 80vh;
  width: 80%;
  top: 8%;
  margin: 0 auto;
}

.container1 {
  margin: 0 auto;
  padding-top: 50px;
  display: grid;

  width: 70vw;
  height: 400px;
  grid-template-columns: 2fr 2.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  column-gap: 15px;
}

.tiny,
.big,
.button {
  border: 1px solid black;
  border-radius: 10px;
}

.text {
  /* text-align: center; */
  font-size: 3.5rem;

  padding-top: 2.5rem;
}

/* .buttons {
        background-color: rgb(203, 202, 202);
        width: 210px;
        text-align: center;
        justify-content: center;
        align-items: center;
      } */

.buttons {
  display: flex;
  justify-content: flex-end;
}

input {
  padding: 20px 70px 20px 30px;
  background-color: rgb(203, 202, 202);
  border-style: none;
}

button {
  padding: 20px 15px;
  background-color: rgb(73, 244, 73);
  border-style: none;
}
.man {
  background-image: url("images/man-standing.jpg");
  background-size: cover; /* This property ensures that the background image covers the entire body */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.woman {
  background-image: url("images/woman\ smiling.jpg");
  background-size: cover; /* This property ensures that the background image covers the entire body */
  background-position: center;
  background-repeat: no-repeat;
}

.woman1 {
  background-image: url("images/woman2.jpg");
  background-size: cover; /* This property ensures that the background image covers the entire body */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.cooking {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 24px;
  position: absolute;
  margin-top: 210px;
  gap: 80px;
}

.items {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  position: absolute;
  margin-top: 210px;
  padding-left: 24px;
}

.diagonal {
  transform: rotate(-90deg);
  position: absolute;
  margin-left: 0;
}

span {
  position: absolute;
  left: 0;
  bottom: 4;
  width: 60px;
  height: 40px;
  background-color: rgb(45, 45, 248);
  opacity: 0.5;
}

.grid2 {
  display: grid;
}

.button {
  padding: 20px 70px 20px 30px;
}

.a {
  background-color: rgb(231, 230, 230);
  font-size: 16px;
}

.b {
  font-size: 24px;
  background-color: rgb(95, 255, 95);
}


/* Maria worked on this*/

.p5{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    /* margin-top: 650px; */
    margin-left: 600px;
}
/* main styles ends here*/




    



